body {
    background: url(./instagram_girl.jpg);
    background-repeat: no-repeat;
    background-position: center;

}
.App{
    
    background: #312835;
    width: 50%;
    height: 250px;
    margin: 30px auto;
    border-radius: 17px;
    text-align: center;
    box-shadow: 1px 2px 5px #222;
}
.App img{
    width: 20px;
    margin: auto;
    display: block;
}
.closeIcon{
    position: absolute;
    top: 17px;
    right: 15px;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
.reminder-title{
    font-weight: bold;
    color:rgb(223, 168, 168);
    font-size:27px;
    text-align:center;
    text-decoration: underline;
}
input, button{
    margin:10px 0
}
input:hover{
    cursor: pointer;
    background:rgb(223, 168, 168);;
}
.list-group-item{
    margin:5px 0;
    height: 71px;
}
.clearReminder{
    margin:10px 0;
    cursor: pointer;
}